.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    position: relative;
    flex: 0 0 100%;
    cursor: pointer;
}

.carousel-img {
    width: 100%;
    display: block;
}

.carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--s-4);
	color: var(--c-surface-white);
	background: linear-gradient(to top, rgba(0,0,0,0.95), transparent);
}

.carousel-control {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
    width: 4rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    color: var(--c-text-invert);
    font-weight: var(--fw-bold);
    background: var(--c-mask-dark);
    transition: opacity var(--transition);
}

.carousel:hover .carousel-control {
    opacity: 1;
    visibility: visible;
}
.carousel-control:hover {
	background: rgba(255,255,255,0.45);
	transform: translateY(-50%) scale(1.25);
}

.carousel-control.prev { 
    left: var(--s-4); 
}

.carousel-control.next { 
    right: var(--s-4); 
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-dots .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    margin: 0 4px;
    border-radius: 50%;
}

.carousel-dots .dot.active {
    background: #fff;
}